$field-wrap-width: 480px;
$field-background: $color-tint-3;
$field-background--focus: $color-tint-3;
$field-background--disabled: $color-tint-3;

$field-wrap-elevation: $z2;
$field-text-elevation: $z2;
$field-label-elevation: $z2;

$font-family: Roboto, Helvetica, sans-serif;

$field-text-color: $color-dark-gray;
$field-text-color--disabled: $color-gray-0;
$field-text-size: $font-size-default;

$field-underline-color--active: $color-secondary-2;
$field-underline-color: $color-gray-0;

$field-label-color: $color-dark-4;
$field-label-color--dirty: $color-gray-0;
$field-label-color--focus: $color-secondary-2;
$field-label-color--error: $color-danger;
$field-label-color--disabled:  $color-gray-3;

$field-label-size: $font-size-default;
$field-label-size--focus: $font-size-down-2;